#!/usr/bin/make -f

override_dh_install:
	find debian/tmp -name *.la -delete
	find debian/tmp -name *.a -delete
	dh_install --fail-missing

override_dh_strip:
	dh_strip -p libplank1 --dbg-package=libplank1-dbg
	dh_strip -p plank --dbg-package=plank-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-headless-tests

override_dh_auto_test:
	dh_auto_test || true

override_dh_makeshlibs:
	dh_makeshlibs -p libplank1 -V 'libplank1 (>= 0.11.2)'

%:
	dh $@ --parallel

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
