[Desktop Entry]
Name=Messenger
GenericName=Unofficial Facebook Messenger's app
Comment=Chat with your friends
Categories=GTK;Network;
Exec=com.github.aprilis.messenger --activate
Icon=internet-chat
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.aprilis.messenger
X-GNOME-UsesNotifications=true
StartupNotify=true
Keywords=Facebook;Messenger;Chat;
MimeType=x-scheme-handler/messenger;
Actions=CloseAll;

[Desktop Action CloseAll]
Name=Close all conversations
Exec=com.github.aprilis.messenger --close-all
